<launch>	

	<arg name="framesize" default="32"/>
	<arg name="datapath" default="$(find rosneuro_filters)"/>

	<rosparam command="load" file="$(find rosneuro_filters)/test/butterworth_simloop_config.yaml"/>
	<node name="butterworth_simloop_config" pkg="rosneuro_filters" type="butterworth_simloop_config" output="screen">
		<rosparam param="datapath"  subst_value="True">$(arg datapath)</rosparam>
		<rosparam param="framesize" subst_value="True">$(arg framesize)</rosparam>
	</node>
</launch>
