<launch>	
	<arg name="framesize" default="32"/>
	<arg name="datapath" default="$(find rosneuro_filters)"/>
	<arg name="layout" default=" 0   0   1   0   2   0   0;
              					 0   0   0   0   0   0   0;
              					 0   0  18   3  19   0   0;
              					 4  20   5  21   6  22   7;
             					23   8  24   9  25  10  26;
             					11  27  12   0  13  28  14;
             					29  15  30  16  31  17  32"/>

	<node name="laplacian_simloop" pkg="rosneuro_filters" type="laplacian_simloop" output="screen">
		<rosparam param="datapath"  subst_value="True">$(arg datapath)</rosparam>
		<rosparam param="framesize" subst_value="True">$(arg framesize)</rosparam>
		<rosparam param="layout" 	subst_value="True">$(arg layout)</rosparam>
	</node>

</launch>
